<div class="row">
    <div class="col-xs-12">
        <h1>Book List</h1>
    </div>

    <div class="col-xs-12">
        <input type="text" ng-model="searchText" class="form-control" placeholder="Volltextsuche...">
    </div>

    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="book in bookListComponentCtrl.books | filter:searchText">
                    <td><a ng-href="#/books/{{ book.isbn }}" ng-bind="book.title | truncate:10:'...' | uppercase"></a></td>
                    <td ng-bind="book.isbn"></td>
                    <td><button ng-click="bookListComponentCtrl.deleteBook(book)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<message-dialog visible="bookListComponentCtrl.dialogVisible"
                title="bookListComponentCtrl.dialogTitle"
                on-yes="bookListComponentCtrl.performDeletion()"
                on-no="bookListComponentCtrl.cancelDeletion()">
    Wollen Sie das Buch {{ bookListComponentCtrl.bookToDelete.title }} wirklich löschen?
</message-dialog>